<header class="sticky top-0 z-50">
  <div class="absolute inset-x-0 top-0 h-15 overflow-hidden pointer-events-none">
    <div class="absolute left-1/2 -translate-x-1/2 top-0 w-96 h-16 bg-violet-500/20 blur-3xl rounded-full"></div>
  </div>

  <div class="relative bg-zinc-900/70 max-w-screen-xl mx-auto px-8 py-3 backdrop-blur-xl border border-white/5">
    <div class="flex items-center justify-between">

      <a routerLink="#" class="text-white font-bold text-lg">
        ani<span class="text-violet-400">dream</span>
      </a>

      <nav class="flex items-center gap-1">
      </nav>

      @if (!authService.isLoggedIn()) {
        <a routerLink="/auth/login" hlmBtn class="px-4 py-1 text-sm font-semibold text-white bg-violet-600 hover:bg-violet-500 rounded-2xl transition-colors cursor-pointer">
          <lucide-icon [img]="LogInIcon" class="w-4 h-4" />
          Sign in
        </a>
      } @else {
        <a routerLink="/" (click)="logout()" hlmBtn class="px-4 py-1 text-sm font-semibold text-white bg-violet-600 hover:bg-violet-500 rounded-2xl transition-colors cursor-pointer">
          <lucide-icon [img]="LogInIcon" class="w-4 h-4" />
          Log out
        </a>
      }


    </div>
  </div>
</header>
<a routerLink="/chat" class="absolute bottom-5 right-5 bg-violet-800 rounded-full aspect-square p-2 flex justify-center items-center cursor-pointer hover:bg-violet-700">
  Chat
</a>
