<div class="flex justify-center items-center md:py-40">
  <section class="h-screen not-md:rounded-none md:h-auto w-full md:max-w-sm ring-1 ring-slate-500" hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Create a new account</h3>
      <p hlmCardDescription>Enter your data below to sign up please</p>
    </div>

    <div hlmCardContent>
      <form id="signup-form" (ngSubmit)="signUp($event)">
        <div class="flex flex-col gap-6">
          <div class="grid gap-2">
            <label hlmLabel for="login">Name</label>
            <input type="text" [formField]="signUpForm.login" hlmInput />
            <p class="text-red-500 mt-2">
              @if (signUpForm.login().invalid()) {
                {{signUpForm.login().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <label hlmLabel for="email">Email</label>
            <input type="email" [formField]="signUpForm.email"  hlmInput />
            <p class="text-red-500 mt-2">
              @if (signUpForm.email().invalid()) {
                {{signUpForm.email().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center">
              <label hlmLabel for="password">Password</label>
            </div>
            <input type="password" [formField]="signUpForm.password" hlmInput />
            <p class="text-red-500 mt-2">
              @if (signUpForm.password().invalid()) {
                {{signUpForm.password().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center">
              <label hlmLabel for="confirmPassword">Confirm your password</label>
            </div>
            <input type="password" [formField]="signUpForm.confirmPassword" hlmInput />
            <p class="text-red-500 mt-2">
              @if (signUpForm.confirmPassword().invalid()) {
                {{signUpForm.confirmPassword().errors()[0].message}}
              }
            </p>
          </div>
        </div>
      </form>

      @if (errorMessage()) {
        <p class="text-red-500 mt-4">
          {{errorMessage()}}
        </p>
      }
    </div>

    <div hlmCardFooter class="flex-col gap-2">
      <button type="submit" form="signup-form" hlmBtn class="w-full cursor-pointer">Sign Up</button>
      <button routerLink="/auth/login" hlmBtn variant="link" class="underline text-violet-400 cursor-pointer">Sign In</button>
    </div>
  </section>
</div>

