<div class="flex justify-center items-center md:py-40">
  <section class="h-screen not-md:rounded-none md:h-auto w-full md:max-w-sm ring-0 shadow-lg" hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Create a new User</h3>
      <p hlmCardDescription>Enter User's data to add</p>
    </div>

    <div hlmCardContent>
      <form id="useredit-form" (submit.prevent)="save()">
        <div class="flex flex-col gap-4">
          <div class="grid gap-2">
            <label hlmLabel for="username">Username</label>
            <input type="text" [formField]="userEditForm.username" hlmInput />
            <p class="text-red-500 mt-1">
              @if (userEditForm.username().invalid() && userEditForm.username().touched()) {
                {{userEditForm.username().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <label hlmLabel for="email">Email</label>
            <input type="email" [formField]="userEditForm.email"  hlmInput />
            <p class="text-red-500 mt-1">
              @if (userEditForm.email().invalid() && userEditForm.email().touched()) {
                {{userEditForm.email().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center">
              <label hlmLabel for="password">Password</label>
            </div>
            <input type="password" [formField]="userEditForm.password" hlmInput />
            <p class="text-red-500 mt-1">
              @if (userEditForm.password().invalid() && userEditForm.password().touched()) {
                {{userEditForm.password().errors()[0].message}}
              }
            </p>
          </div>

          <div class="flex justify-between">
            @for (group of groupsFromServer(); track group.id) {
              <div class="flex gap-2">
                <hlm-checkbox
                  class="cursor-pointer"
                  [id]="'group-' + group.id"
                  [checked]="selectedGroups().includes(group)"
                  (checkedChange)="toggleGroup(group, $event)" />
                <label hlmLabel [for]="'group-' + group.id">{{ group.name }}</label>
              </div>
            }
          </div>
        </div>
      </form>

      @if (errorMessage()) {
        <p class="text-red-500 mt-4">
          {{errorMessage()}}
        </p>
      }
    </div>

    <div hlmCardFooter class="flex-col gap-2">
      <button type="submit" form="useredit-form" hlmBtn class="w-full cursor-pointer" [disabled]="userEditForm().invalid()">Create</button>
    </div>
  </section>
</div>

