<div>
  <section class="not-md:rounded-none bg-muted w-full md:max-w-sm" hlmCard>
    <div hlmCardContent>
      <form id="group-edit-form" (ngSubmit)="saveGroup($event)">
        <div class="flex flex-col gap-4">
          <div class="grid gap-2">
            <label hlmLabel for="name">Group Name</label>
            <input type="text" [formField]="groupEditForm.name" hlmInput />
            <p class="text-red-500 mt-1">
              @if (groupEditForm.name().invalid()) {
                {{groupEditForm.name().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <label hlmLabel for="permissions">Group Permissions</label>
            <input type="text" [formField]="groupEditForm.permissions" hlmInput />
            <p class="text-red-500 mt-1">
              @if (groupEditForm.permissions().invalid()) {
                {{groupEditForm.permissions().errors()[0].message}}
              }
            </p>
          </div>
        </div>
      </form>

      @if (errorMessage()) {
        <p class="text-red-500 mt-4">
          {{errorMessage()}}
        </p>
      }
    </div>

    <div hlmCardFooter class="flex-col gap-2">
      <button type="submit" form="group-edit-form" hlmBtn class="w-full cursor-pointer" [disabled]="groupEditForm().invalid()">
        @if (id()) {
          Save
        } @else {
          Create
        }
      </button>
    </div>
  </section>
</div>
