<div class="py-20">
  <h1 class="text-2xl font-bold mb-8">Search results for "{{ query() }}"</h1>

  @if (isLoading()) {
    <div class="flex justify-center items-center py-20">
      <span class="animate-pulse text-4xl">
        ...
      </span>
    </div>
  } @else if (!anime()?.length) {
    <div class="flex flex-col items-center py-20 text-gray-500">
      <span class="text-5xl mb-4">🔍</span>
      <p>No results for "{{ query() }}"</p>
    </div>
  } @else {
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-7 gap-4">
      @for (anime of anime(); track anime.mal_id) {
        <a [routerLink]="['/anime', anime.mal_id]">
          <app-anime-card [anime]="anime" />
        </a>
      }
    </div>
  }
</div>
