<div class="flex justify-center items-center md:py-40">
  <section class="w-full max-w-sm ring-1 ring-slate-500" hlmCard>
    <div hlmCardHeader>
      <h1 hlmCardTitle>Login to your account</h1>
      <p hlmCardDescription>Enter your email or username below to login to your account please</p>
    </div>

    <div hlmCardContent>
      <form id="login-form" (submit.prevent)="onSubmit($event)">
        <div class="flex flex-col gap-6">
          <div class="grid gap-2">
            <label hlmLabel for="name">Username or Email</label>
            <input type="text" hlmInput [formField]="signInForm.username_or_email"/>
            <p class="text-red-500 mt-1">
              @if (signInForm.username_or_email().invalid() && signInForm.username_or_email().touched()) {
                {{signInForm.username_or_email().errors()[0].message}}
              }
            </p>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center">
              <label hlmLabel for="password">Password</label>
            </div>
            <input type="password" hlmInput [formField]="signInForm.password"/>
            <p class="text-red-500 mt-1">
              @if (signInForm.password().invalid() && signInForm.password().touched()) {
                {{signInForm.password().errors()[0].message}}
              }
            </p>
          </div>
        </div>
      </form>

      @if (errorMessage()) {
        <p class="text-red-500 mt-4">
          {{errorMessage()}}
        </p>
      }
    </div>

    <div hlmCardFooter class="flex-col gap-2">
      <button type="submit" form="login-form" hlmBtn class="w-full cursor-pointer" [disabled]="signInForm().invalid()">Login</button>
      <button [routerLink]="signUpRoute" hlmBtn variant="link" class="underline text-violet-400 cursor-pointer">Sign Up</button>
    </div>
  </section>
</div>

